body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #1A202C;
    background: #303847;
}

.container {
    margin: 30px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid;
    background: rgb(255, 255, 255);
}

.game-container {
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.action-buttons {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
    border-left: 2px solid #303847;
    background: #dbe4f4;
}

.action-buttons > button, input {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #303847;
}

.action-buttons > label {
    font-size: 18px;
}

.new-game, .clue {
    background: white;
}

.new-game:hover,
.clue:hover {
    color: white;
    background: #303847;
}

.solution {
    color: white;
    background: #303847;
}

.solution:hover {
    border: 2px solid #303847;
    background: white;
    color: inherit;
}

#nonogram-table {
    border: 1px solid rgb(39, 39, 39);
    border-collapse: collapse;
    overflow: hidden;
    background: white;
}

tr {
    height: 30px;
    width: 300px;
}


th {
    background: #dbe4f4;
    border: 1px solid rgb(39, 39, 39);
    box-sizing: border-box;
}

td {
    height: 30px;
    width: 30px;
    border: 1px solid rgb(39, 39, 39);
    box-sizing: border-box;
    cursor: pointer;
}

.table-row:nth-child(5n+1):not(:last-of-type) {
   border-bottom: 3px solid;
}

td:nth-child(5n+1):not(:last-of-type), .h-header-cell:nth-child(5n+1):not(:last-of-type) {
   border-right: 3px solid;
}

.header > span {
    cursor: pointer;

}

.h-header-cell {
    padding: 5px;
    vertical-align: bottom;
}

.h-header-cell > span {
    padding-top: 5px;
    display: flex;
    
}

.v-header-cell {
    padding: 5px;
    white-space: nowrap;
    text-align: right;
}

.v-header-cell > span {
    padding-left: 8px;
}

.filled {
    background: #3e495d;
}

.crossed {
    position: relative
}

.crossed:before,
.crossed:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #303847;
    border-radius: 2px;
    top: 14px;

}

.crossed:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 4px;
}

.crossed:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 4px;
}

.numberCrossed {
    text-decoration: line-through;
    color: #606f8b;
    font-weight: normal
}
